<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @client.name %>
</p>

<p>
  <b>Bill rate:</b>
  <%= @client.bill_rate %>
</p>

<p>
  <b>Status:</b>
  <%= @client.status %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
